@font-face {
    font-family: 'NerkoOne-Regular';
    src: url('./NerkoOne-Regular.ttf') format('truetype'); 
    font-weight: 100;
}

@font-face {
    font-family: 'LuckiestGuy-Regular';
    src: url('./LuckiestGuy-Regular.ttf') format('truetype');
    font-weight: 100;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

body {
    background-image: url('background-text.svg');
    background-repeat: no-repeat;
    background-size: cover;
    /* position: fixed; */
    background-color: rgb(251, 255, 223);
    margin: 0;
    padding: 0;
    /* width: 100%;
    height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* .bg {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1; 
} */
/* 
.background-game {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
} */

.logo-container {
    display: flex;
    flex-direction: column;
    /* bottom: 20px; 
    right: -50px; 
    transform: translate(-50%, -50%); 
    text-align: center;  */
    /* z-index: 2; */
}

.logo-container .logo {
    /* position: relative; */
    width: 400px; 
    max-width: 648px; 
    /* height: 500px;  */
    
}

/* PLAYERS */
.logo-container .player-x,
.logo-container .player-o,
.logo-container .player,
.logo-container .AI {
    /* position: fixed;
    text-align: center; */
    font-family: 'NerkoOne-Regular', Helvetica, sans-serif;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
                 /* 0 0 1px white,
                 0 0 3px white;  */
                 /* Add more shadows for a stronger stroke effect */
    /* z-index: 2; */
    /* white-space: nowrap;
    user-select: none; */
}

/* Color for Player X */
.logo-container .player-x {
    /* position: fixed; */
    color: #CC5124;
    text-align: center;
    /* bottom: 300px;
    top: 320px;
    right: 50px;
    left: 0px; */
    font-size: 70px;
    /* transform: translateY(-50%); */
}

/* Player X - player */
.logo-container .player {
    /* position: fixed; */
    color: #CC5124;
    text-align: center;
    /* bottom: 300px;
    top: 410px;
    right: 50px;
    left: 30px; */
    font-size: 70px;
    /* transform: translateY(-50%); */
}

/* Color for Player O */
.logo-container .player-o {
    /* position: fixed; */
    color: #FFC121;
    text-align: center;
    /* right: 50px;
    left: 0px; */
    border-color: #d76a42;
    border-width: 90px;
    /* top: 430PX  ; */
    font-size: 70px;
    /* transform: translateY(50%); */
}

/* Player O - AI */
.logo-container .AI {
    /* position: fixed; */
    color: #FFC121;
    text-align: center;
    /* right: 50px;
    left: 30px;
    top:530px; */
    font-size: 70px;
    /* transform: translateY(50%); */
}



/* RESPONSIBLE FOR THE OUTER GRID OF TICTACTOE */
#tic-tac-toe {
    /* position: fixed; */
    /* z-index: 2; */
    display: grid;
    /* margin-top: 10px; */ 
    /* margin-left: auto;
    margin-right: 450px; */
    background-color: #FFDC83;
    padding: 35px 40px;
    border-radius: 15px;
    grid-template-columns: repeat(6, 80px);
    grid-template-rows: repeat(5, 70px);
    grid-gap: 25px;
    font-size: 70px;
    /* justify-content: center;
    align-items: center; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-family: 'LuckiestGuy-Regular', Helvetica, sans-serif;
}

/* RESPONSIBLE FOR THE TICTACTOE SQUARES */
#tic-tac-toe div {
    margin-right: 100px;
    width: 80px;
    height: 80px;
    top: 50%;
    display: flex;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border: 2px solid #ffffff;
    cursor: pointer;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.4); 
}


/* Color for X */
#tic-tac-toe div.x {
    color: #CC5124;
}

/* Color for O */
#tic-tac-toe div.o {
    color: #FFC121;
}


 /* Add styles for the notification container */
 .notification-container {
    position: fixed;
    width: 450px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    font-family: 'NerkoOne-Regular', Helvetica, sans-serif;
    color: #FFC121;
    font-size: 100px;
    line-height: 80px;
    /* background-color: #fff; */
    /* border: 2px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
    display: none;
    text-align: center;
    z-index: 1001;
}

/* Style for the anchor tag around the button */
.notification-container a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color from the parent */
}

/* Style for the play again button */
#play-again-btn {
    position: relative;
    width: 330px;
    height: 70px;
    top: 80px;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the button */
    margin-top: 10px;
    padding: 10px;
    font-family: 'NerkoOne-Regular', Helvetica, sans-serif;
    font-size: 40px;
    border-radius: 15px;
    background-color: #CC5124;
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
}


#play-again-btn:hover {
    border-color: #3366cc;
    background-color: #3366cc; 
}

/* Styles for the overlay background */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
}